In [1]:
import pandas as pd
import numpy as np

from ipynb.fs.full.Preprocessing_data1 import prepare_dataframe
from ipynb.fs.full.Preprocessing_data2 import data_preprocess

Loading data (Data_1)

In [2]:
data_1 = pd.read_csv('./Data_1/train.csv')
data_1_st = pd.read_csv('./Data_1/stores.csv')
data_1_ft = pd.read_csv('./Data_1/features.csv')

In [3]:
data_1 = data_1.merge(data_1_st, 'left', 'Store')
data_1 = data_1.merge(data_1_ft, 'left', ['Store', 'Date', 'IsHoliday'])

In [4]:
data_1.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [5]:
data_1.shape

(421570, 16)

Loading data (Data_2)

In [6]:
data_2 = pd.read_csv('./Data_2/train.csv')
data_2_st = pd.read_csv('./Data_2/store.csv')
data_1_ss = pd.read_csv('./Data_2/sample_submission.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3156: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Loading data (Data_3)

In [7]:
data_3 = pd.read_csv('./Data_3/mock_kaggle.csv')

Preprocessing for Data_1

In [8]:
data_1['Date'] = pd.to_datetime(data_1['Date'], format='%Y-%m-%d')
data_train_1, transform_col = prepare_dataframe(data_1)

In [9]:
data_train_1.head()

,Store,Dept,Type,Size,is_holiday,year,week,is_week_start_month,month,is_week_fortnight,is_week_end_month,qt_holiday_week,Weekly_Sales
0,1.0,1.0,A,151315.0,0.0,2010.0,5.0,0.0,2.0,0.0,0.0,2955.0,24924.50
1,1.0,1.0,A,151315.0,1.0,2010.0,6.0,0.0,2.0,0.0,0.0,2956.0,46039.49
2,1.0,1.0,A,151315.0,0.0,2010.0,7.0,0.0,2.0,1.0,0.0,2977.0,41595.55
3,1.0,1.0,A,151315.0,0.0,2010.0,8.0,0.0,2.0,0.0,1.0,2951.0,19403.54
4,1.0,1.0,A,151315.0,0.0,2010.0,9.0,1.0,3.0,0.0,0.0,2944.0,21827.90

In [10]:
data_train_1.shape

(421570, 13)

Preprocessing for Data_2

In [11]:
data_train_2 = data_preprocess(data_2, data_2_st)

data_train_2.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,day,month,year
0,1,5,2015-07-31,5263,555,1,1,0,1,3,...,1270.0,9.0,2008.0,0,0.0,2011.0,1,31,7,2015
1,2,5,2015-07-31,6064,625,1,1,0,1,1,...,570.0,11.0,2007.0,1,13.0,2010.0,1,31,7,2015
2,3,5,2015-07-31,8314,821,1,1,0,1,1,...,14130.0,12.0,2006.0,1,14.0,2011.0,1,31,7,2015
3,4,5,2015-07-31,13995,1498,1,1,0,1,3,...,620.0,9.0,2009.0,0,0.0,2011.0,1,31,7,2015
4,5,5,2015-07-31,4822,559,1,1,0,1,1,...,29910.0,4.0,2015.0,0,0.0,2011.0,1,31,7,2015

In [12]:
data_train_2.shape

(1017209, 21)

Preprocessing for Data_3

In [13]:
data_3 = data_3.rename(columns={'data' : 'Date', 'venda' : 'Sales', 'estoque' : 'Stock', 'preco' : 'Price'})
               
data_3['Revenue'] = data_3['Sales'] * data_3['Price']

In [14]:
data_3.shape

(937, 5)

Forecasting

In [15]:
def metrics(y_train, predict, y_test, predict_test):
    from sklearn.metrics import mean_absolute_error, mean_squared_error
    
    print('RMSE:',mean_squared_error(y_train, predict, squared=False), mean_squared_error(y_test, predict_test, squared=False))
    print('MAE:',mean_absolute_error(y_train, predict), mean_absolute_error(y_test, predict_test))
    print('mean_absolute_percentage_error:',sum(abs(y_train - predict) / (y_train + 1e-5)) / len(predict), sum(abs(y_test - predict_test) / (y_test + 1e-5)) / len(predict_test))

Data 1

In [16]:
from sklearn.model_selection import cross_val_predict, train_test_split, KFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler

training_pipeline = make_pipeline(
        transform_col,
        MinMaxScaler())
training_pipeline.fit(data_train_1)
data_train_1_sc = pd.DataFrame(training_pipeline.transform(data_train_1), columns = data_train_1.columns.drop('Type'))
data_train_1_sc['Type'] = data_train_1['Type']
data_train_1 = data_train_1_sc
X_1 = data_train_1.drop(['Weekly_Sales'], axis=1)
Y_1 = data_train_1['Weekly_Sales']

X_train_1, X_test_1, Y_train_1, Y_test_1 = train_test_split(X_1, Y_1, test_size=0.3, random_state = 1234)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR

In [18]:
from sklearn.preprocessing import MinMaxScaler

training_pipeline = make_pipeline(
        transform_col,
        MinMaxScaler())
training_pipeline.fit(data_train_1)
data_train_1 = pd.DataFrame(training_pipeline.transform(data_train_1), columns = data_train_1.columns.drop('Type'))

In [19]:
kfold = KFold(n_splits=3)

training_pipeline = make_pipeline(
        transform_col,
        LinearRegression())

predict = cross_val_predict(training_pipeline, X_train_1, Y_train_1, cv = kfold)

training_pipeline.fit(X_train_1, Y_train_1)
predict_test = training_pipeline.predict(X_test_1)

metrics(Y_train_1, predict, Y_test_1, predict_test)

RMSE: 0.1522116164931928 0.1518434061663451
MAE: 0.1152951980053944 0.11482285916366827
mean_absolute_percentage_error: 202.06393384316178 207.48673309427096

In [20]:
training_pipeline = make_pipeline(
        transform_col,
        RandomForestRegressor(max_depth = 15))

predict = cross_val_predict(training_pipeline, X_train_1, Y_train_1, cv = kfold)

training_pipeline.fit(X_train_1, Y_train_1)
predict_test = training_pipeline.predict(X_test_1)

metrics(Y_train_1, predict, Y_test_1, predict_test)

RMSE: 2.903400611784494e-15 4.869406803626278e-15
MAE: 2.0747540666741834e-15 3.383225622235004e-15
mean_absolute_percentage_error: 5.2524679701199955e-15 8.76437120092119e-15

In [ ]:
training_pipeline = make_pipeline(
        transform_col,
        SVR())

training_pipeline.fit(X_train_1, Y_train_1)
predict_test = training_pipeline.predict(X_test_1)

metrics(Y_train_1, predict, Y_test_1, predict_test)

In [25]:
kfold = KFold(n_splits=3)
training_pipeline = make_pipeline(
        transform_col,
        XGBRegressor())
predict = cross_val_predict(training_pipeline, X_train_1, Y_train_1, cv = kfold)
training_pipeline.fit(X_train_1, Y_train_1)
predict_test = training_pipeline.predict(X_test_1)

metrics(Y_train_1, predict, Y_test_1, predict_test)

RMSE: 0.00011831593111137943 0.00022759360673028022
MAE: 7.912328304200618e-05 0.00012537186234380844
mean_absolute_percentage_error: 0.03674539659608557 0.11621491772507969

Data 2

In [22]:
X_2 = data_train_2.drop(['Sales', 'Date'], axis=1)
Y_2 = data_train_2['Sales']

X_train_2, X_test_2, Y_train_2, Y_test_2 = train_test_split(X_2, np.log(Y_2 + 1), test_size=0.3, random_state = 1234)

In [23]:
predict = cross_val_predict(LinearRegression(), X_train_2, Y_train_2, cv = kfold)

model = LinearRegression().fit(X_train_2, Y_train_2)
predict_test = model.predict(X_test_2)

metrics(Y_train_2, predict, Y_test_2, predict_test)

RMSE: 0.22648730064233158 0.22512406830216766
MAE: 0.15828321142096985 0.15825889901497503
mean_absolute_percentage_error: 1285.7131245890714 1285.9855630288778

In [24]:
predict = cross_val_predict(RandomForestRegressor(max_depth = 15), X_train_2, Y_train_2, cv = kfold)

model = RandomForestRegressor(max_depth = 15).fit(X_train_2, Y_train_2)
predict_test = model.predict(X_test_2)

metrics(Y_train_2, predict, Y_test_2, predict_test)

RMSE: 0.0862712616834407 0.08626336097210194
MAE: 0.059411248884506634 0.0594287795188045
mean_absolute_percentage_error: 0.00681063087839655 0.3222279662334975

In [ ]:
predict = cross_val_predict(SVR(), X_train_2, Y_train_2, cv = kfold)

model = SVR().fit(X_train_2, Y_train_2)
predict_test = model.predict(X_test_2)

metrics(Y_train_2, predict, Y_test_2, predict_test)

In [26]:
predict = cross_val_predict(XGBRegressor(), X_train_2, Y_train_2, cv = kfold)

model = XGBRegressor().fit(X_train_2, Y_train_2)
predict_test = model.predict(X_test_2)

metrics(Y_train_2, predict, Y_test_2, predict_test)

RMSE: 0.06940103513484006 0.06964363072213463
MAE: 0.0513385642903535 0.05155224380551271
mean_absolute_percentage_error: 381.6084973966224 372.14651949611334

Data 3

In [27]:
data_3 = data_3.drop(['Date'], axis=1)
mms = MinMaxScaler().fit(data_3)
data_3 = pd.DataFrame(mms.transform(data_3), columns = data_3.columns)
X_3 = data_3.drop(['Revenue'], axis=1)
Y_3 = data_3['Revenue']

X_train_3, X_test_3, Y_train_3, Y_test_3 = train_test_split(X_3, Y_3, test_size=0.3, random_state = 1234)

In [28]:
predict = cross_val_predict(LinearRegression(), X_train_3, Y_train_3, cv = kfold)

model = LinearRegression().fit(X_train_3, Y_train_3)
predict_test = model.predict(X_test_3)

metrics(Y_train_3, predict, Y_test_3, predict_test)

RMSE: 0.043102581417280524 0.04497750711458011
MAE: 0.02627299010353919 0.02689881339896431
mean_absolute_percentage_error: 373.04771523127124 361.2809190086209

In [29]:
predict = cross_val_predict(RandomForestRegressor(max_depth = 15), X_train_3, Y_train_3, cv = kfold)

model = RandomForestRegressor(max_depth = 8).fit(X_train_3, Y_train_3)
predict_test = model.predict(X_test_3)

metrics(Y_train_3, predict, Y_test_3, predict_test)

RMSE: 0.02655181554716873 0.01737285127495567
MAE: 0.00969379919612044 0.0068131774876941725
mean_absolute_percentage_error: 0.051406745210288006 0.03895126972108617

In [30]:
predict = cross_val_predict(SVR(), X_train_3, Y_train_3, cv = kfold)

model = SVR().fit(X_train_3, Y_train_3)
predict_test = model.predict(X_test_3)

metrics(Y_train_3, predict, Y_test_3, predict_test)

RMSE: 0.057058120715440024 0.05493463840057541
MAE: 0.0451510133661147 0.046364892961842305
mean_absolute_percentage_error: 1144.937121766505 1075.8461009757305

In [31]:
predict = cross_val_predict(LGBMRegressor(), X_train_3, Y_train_3, cv = kfold)

model = LGBMRegressor().fit(X_train_3, Y_train_3)
predict_test = model.predict(X_test_3)

metrics(Y_train_3, predict, Y_test_3, predict_test)

NameError: name 'LGBMRegressor' is not defined

In [32]:
predict = cross_val_predict(XGBRegressor(), X_train_3, Y_train_3, cv = kfold)

model = XGBRegressor().fit(X_train_3, Y_train_3)
predict_test = model.predict(X_test_3)

metrics(Y_train_3, predict, Y_test_3, predict_test)

RMSE: 0.026796847414661557 0.016106070129764782
MAE: 0.008625554338459896 0.005382682483445303
mean_absolute_percentage_error: 3.0765041263169572 1.332116375346034